<!DOCTYPE html>
<html>
<head>
    <style>
        body {background-color: tan;}
        div { text-align: center }
    </style>
    <meta charset="UTF-8">
    <title>Question Annotator</title>
</head>

<body>


<div>
    <form action="http://localhost:5000/saveannotation" method="post">
         <h1 style=color:white;">--== Question Annotator ==--</h1>

         <h2>Candidate Question</h2>
        <input type="text" id="cand" name="candiate" value="how to extend the contract" readonly>
        <!-- text in javascript angeben -->

         <h2>Similar Questions</h2>
        <select name="questionlist" size="10" multiple>
             {% for qid, question in questions %}
                <option value="{{ qid }}">{{ qid }}: {{ question }}</option>
            {% endfor %}
        </select>
        <br>


    <h2>Answer Label</h2>
    <input type="text" id="g" name="label" value="123test">
    <button>Transmit</button>
    <br>

    </form>

    <br>
    <br>
    <br>
    <h2>Reset Everything</h2>
    <form action="http://localhost:5000/reset" method="post">
        <button>Reset</button>
    </form>
</div>

<script>
 function init() {
      var s = document.getElementsByTagName('select');
      for (var i = 0; i < s.length; i++) {
        if (s[i].multiple) {
          s[i].onclick = updateSelect;
        }
      }
    }
    function updateSelect(e) {
      var opts = this.getElementsByTagName('option'), t, o;
      if (e) {
        e.preventDefault();
        t = e.target;
      }
      else if (window.event) {
        window.event.returnValue = false;
        t = window.event.srcElement;
      }
      else return;
      t = e.target || window.event.srcElement;
      if (t.className == 'selected') t.className = '';
      else t.className = 'selected';
      for (var i = 0, j = opts.length; i < j; i++) {
        if (opts[i].className == 'selected') opts[i].selected = true;
        else opts[i].selected = false;
      }
    }
    window.onload = init;
{##}
{##}
{#    function getList() {#}
{#        var xlist = document.getElementById("list");#}
{#        var len = xlist.options.length;#}
{#        var irgendwas = "";#}
{#        for (i = 0; i < len; i++) {#}
{#            //alert("bin in schleife" + xlist.options.selectedIndex);#}
{#            document.getElementById("versuch").innerHTML = "\nSchritt i: " + i + "<br>";#}
{#            if (xlist.options[i].selected) {#}
{#                xlist.options[i].selected = 'unselected';#}
{#                irgendwas += xlist.options[i].value + ",";#}
{#                //alert("bin in if Bedingung: " + irgendwas);#}
{#            }//end if#}
{#        }//end for#}
{#        //alert(irgendwas + "\noptionen: " + len);#}
{#        return irgendwas;#}
{#    }#}
{##}
{#    function clickMe() {#}
{#        var irgendwas2 = getList();#}
{#        alert("Ausgewählte Optionen: " + irgendwas2);#}
{#    }#}
{##}
{#    function transmit() {#}
{#//Teil1 (Stefan):#}
{#//1. Variable "Answer Label"#}
{#        var label = g.value;#}
{#//2. Variable (liste, array) "List of Similar Questions" /ids (zB [sim0,sim1,sim3] )#}
{#        var listQ = getList();#}
{#//3. Variable "Candidate" /ids#}
{#        var candidateName = cand.value;#}
{#        //alert("Übergebene Daten:\n label: " + label + " \nCandidate: " + candidateName + "\nList: " + listQ);#}
{#//alert("nix " + label);#}
{##}
{#//Teil2 (Stefan + Markus):#}
{#//Senden an Pyhton Server (TODO)#}
{#    }#}
</script>
</body>
</html> 